<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="url" value="https://test.paratika.com.tr/paratika/api/v2" />
    <add key="request_method" value="POST"/>
    <add key="request_content_type" value="application/x-www-form-urlencoded"/>
    <add key="request_url" value=" > Request URL: " />
    <add key="response_data" value=" > Response Data: \n "/>
    <add key="request_data" value=" > Request Data: "/>
    <add key="action" value="ACTION"/>
    <add key="action_querysession" value="QUERYSESSION"/>
    <add key="action_sale" value="SALE"/>
    <add key="action_preauth" value="PREAUTH"/>
    <add key="action_sessiontoken" value="SESSIONTOKEN"/>
    <add key="session_token" value="SESSIONTOKEN"/>
    <add key="merchant" value="MERCHANT"/>
    <add key="merchant_user" value="MERCHANTUSER"/>
    <add key="merchant_password" value="MERCHANTPASSWORD"/>
    <add key="merchant_payment_id" value="MERCHANTPAYMENTID"/>
    <add key="customer" value="CUSTOMER"/>
    <add key="customer_name" value="CUSTOMERNAME"/>
    <add key="customer_email" value="CUSTOMEREMAIL"/>
    <add key="customer_ip" value="CUSTOMERIP"/>
    <add key="customer_phone" value="CUSTOMERPHONE"/>
    <add key="customer_birthday" value="CUSTOMERBIRTHDAY"/>
    <add key="customer_agent" value="CUSTOMERUSERAGENT"/>
    <add key="name_on_card" value="NAMEONCARD"/>
    <add key="card_pan" value="CARDPAN"/>
    <add key="card_expiry" value="CARDEXPIRY"/>
    <add key="card_cvv" value="CARDCVV"/>
    <add key="amount" value="AMOUNT"/>
    <add key="currency" value="CURRENCY"/>
    <add key="sessiontype" value="SESSIONTYPE"/>
    <add key="return_url" value="RETURNURL"/>
    <add key="code" value="code"/>
    <add key="name" value="name"/>
    <add key="quantity" value="quantity"/>
    <add key="description" value="description"/>
    <add key="order_item_amount" value="amount"/>
    <add key="order_items" value="ORDERITEMS"/>
    <add key="integration_model" value="IntegrationModel"/>
    <add key="always_save_card" value="AlwaysSaveCard"/>
    <add key="extra" value="EXTRA"/>
    <add key="bill_to_addressline" value="BILLTOADDRESSLINE"/>
    <add key="bill_to_city" value="BILLTOCITY"/>
    <add key="bill_to_country" value="BILLTOCOUNTRY"/>
    <add key="bill_to_postalcode" value="BILLTOPOSTALCODE"/>
    <add key="bill_to_phone" value="BILLTOPHONE"/>
    <add key="ship_to_addressline" value="SHIPTOADDRESSLINE"/>
    <add key="ship_to_city" value="SHIPTOCITY"/>
    <add key="ship_to_country" value="SHIPTOCOUNTRY"/>
    <add key="ship_to_postalcode" value="SHIPTOPOSTALCODE"/>
    <add key="ship_to_phone" value="SHIPTOPHONE"/>
     
 </appSettings> 
</configuration>